.product-img {
  height: 100px;
}

.product-card {
  height: width;
}
.product-card:nth-child(odd) {
  background-color: var(--violet);
}

.product-card:nth-child(even) {
  background-color: var(--red);
}

/* .product-card:nth-child(even) {
  background-color: var(--yellow);
} */
