/* PRODUCT */

.product-img {
  height: 100px;
}

.product-img {
  transition: transform 0.2s ease-in-out;
}

.product-img:hover {
  transform: scale(1.1);
}

.product-card {
  height: 100vw;
}

@media (min-width: 320px) {
  .product-img {
    height: 200px;
  }
}

@media (min-width: 375px) {
  .product-img {
    height: 240px;
  }
}

@media (min-width: 480px) {
  .product-img {
    height: 350px;
  }
}

@media (min-width: 576px) {
  .product-img {
    height: 420px;
  }
}

@media (min-width: 768px) {
  .product-card {
    height: 50vw;
  }
  .product-img {
    height: 250px;
  }
}

@media (min-width: 992px) {
  .product-card {
    height: 33.33333333vw;
  }
  .product-img {
    height: 190px;
  }
}

@media (min-width: 1200px) {
  .product-img {
    height: 250px;
  }
}

@media (min-width: 1400px) {
  .product-img {
    height: 320px;
  }
}

@media (min-width: 1600px) {
  .product-img {
    height: 380px;
  }
}

.addToCartBtn-shop {
  font-size: 1rem !important;
}

/* HEADER */

.form-control::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--white);
  opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--white);
}

.form-control::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--white);
}

.filter-btn {
  text-decoration: none;
  cursor: pointer;
}

.content-header form .form-control {
  color: var(--white);
  background-color: transparent;
}
.content-header form .form-control:focus {
  color: var(--white);
  background-color: transparent;
  border: 1px solid var(--white) !important;
}

/* SEARCH INPUT */
.search-container {
  position: absolute;
  bottom: 0;
  padding-top: 25px;
  z-index: 100;
}
.search-filter {
  position: absolute;
  bottom: 0;
  padding-top: 200px;
}

.centering {
  background: transparent;
}

.box {
  background-color: transparent;
  max-width: 400px;
  width: 100%;
  min-height: 200px;
  display: grid;
  place-items: center;
  border-radius: 24px;
}

.search {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 40px;
  padding: 10px;
  cursor: pointer;
  background-repeat: no-repeat;
  font-size: 24px;
  color: transparent;
  border: 3px solid var(--primary);
  transition: width 300ms, background-position 300ms;
  overflow: hidden;
  background: url("../../../assets/icons/search-bold.svg") no-repeat transparent;
  background-size: 40px;
  background-position: 45% 50%;
}

.search:hover {
  cursor: pointer;
  border: 3px solid var(--white);
  background: url("../../../assets/icons/search-bold.svg") no-repeat transparent;
  background-size: 40px;
  background-position: 45% 50%;
}

.search:focus,
.search:not(:placeholder-shown) {
  max-width: 300px;
  width: 100%;
  cursor: text;
  color: var(--white);
  padding-left: 60px;
  outline: none;
  transition: width 500ms, background-position 300ms;
  border: 3px solid var(--white);
  background-color: transparent;
  background: url("../../../assets/icons/search-bold.svg") no-repeat;
  background-size: 40px;
  background-position: 10px 50%;
}

.feature-badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}
