.addToCartBtn-product {
  background-color: black;
  padding: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.selector {
  font-size: 14px;
  width: 100%;
  height: 32px;

  border-radius: 4px;
}

@media (max-width: 767px) {
  .product-view-img {
    margin-bottom: 50px;
  }
}
