.product-view-text {
  padding: 0 !important;
  font-size: smaller;
}

.return-to-shop {
  cursor: pointer;
}

.product-row {
  margin: 150px 0px 150px 0px;
}

@media (min-width: 992px) {
  .product-row {
    height: 55vh;
  }
}
