.product-view-text {
  padding: 0, 0, 0, 5 !important;
  font-size: smaller;
}

.return-to-shop {
  cursor: pointer;
}

.product-row {
  margin: 150px 0px 150px 0px;
}

.related-product {
  width: 100%;
}
