.checkout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.checkout-logo-icon {
  width: 2rem;
}

.main-checkout {
  background-color: var(--white);
  color: var(--graphite);
  padding: 15px;
}

.aside-checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  color: var(--graphite);
  padding: 15px;
}
