.checkOutContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.form-control:disabled {
    background-color: var(--white);
    opacity: 1;
  }

.w-20 {
    width: 20%;
}

.w-35 {
    width: 35%;
}