.contact {
  background-color: var(--lightGraphite);
  color: var(--white);
  height: 80vh;
  display: flex;
  align-items: center;
}
@media (max-width:768px){
  .contact {
   height: 130vh;
  }
}
.contactIcon {
  width: 4vh;
}
