.contact {
  background-color: var(--lightGraphite);
  color: var(--white);
}
.contactContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.contactIcon {
  width: 4vh;
}
