.ul-board {
  padding-top: 50px;
  font-size: 1.3rem;
  list-style: none;
}
.col-board {
  background-color: var(--graphite);
  padding-top: 10px;
  color: var(--white);
}

.logout {
  padding-bottom: 20px;
  padding-top: 70px;
  font-size: 1.3rem;
}
.gatito {
  height: 150px;
  border-radius: 50%;
  margin-bottom: 30px;
}
.grafica {
  width: 300px;
}
.background {
  background-color: #282828;
}
.background-graphite {
  background-color: var(--graphite);
}
.scottish {
  height: 350px;
}
.shadow {
  border-bottom: solid white !important;
  border-right: solid white !important;
}
