.cart-body {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-img {
  height: 100px;
}

.cart-product {
  display: flex;
}

.cart-product-list {
  overflow: auto;
}
