.cart-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.cart-img {
  height: 100px;
}

.cart-product {
  display: flex;
}

.cart-product-list {
  overflow: auto;
}

.cart-footer {
  padding-top: 0.5rem;
}
