.about-card {
  height: 350px;
  padding: 5%;
  color: white;
}

.about-card-one {
  background-color: var(--violet);
}

.about-card-two {
  background-color: var(--blue);
}

.about-card-three {
  background-color: var(--yellow);
}

.about-card-four {
  background-color: var(--orange);
}

.iconTech {
  width: 15%;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.iconTech i, .iconTech p {
  cursor: pointer;
}
