.about-card {
  height: 350px;
  padding: 5%;
  color: white;
}

.about-card-one {
  background-color: var(--violet);
}

.about-card-two {
  background-color: var(--blue);
}

.about-card-three {
  background-color: var(--yellow);
}

.about-card-four {
  background-color: var(--orange);
}
@keyframes iconTechMove {
  from {
    bottom: 0;
  }
  to {
    bottom: 5px;
  }
}
.iconTech {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
  opacity: 0.7;
}
.iconTech:hover {
  position: relative;
  animation: iconTechMove 0.5s forwards;
  opacity: 1;
}
.iconTech i,
.iconTech p {
  cursor: pointer;
}

.tech-icon {
  width: 50px;
}
