input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.unicornModal {
    background: rgb(180,128,58);
    background: linear-gradient(13deg, rgba(180,128,58,1) 0%, rgba(253,238,29,0.5821353912353515) 38%, rgba(252,176,69,1) 100%); 
}

.ups {
 color: var(--lightRed);
 position: absolute;
 text-align: center;
 font-size: 1rem
}

.modal-content {
    border: none;
    background-color: var(--lightGrey);
}

.btn-primary {
    background-color: var(--darkRed);
    border: none;
    text-transform: uppercase;
    color: #ffffff;
    width: 50%;
}
.btn-primary:hover {
    background-color: var(--red);
    color: var(--lightGrey);
    border: none;
    box-shadow: 0 0 5px .25rem var(--darkRed);
}

.dateInput {
    height: 10vh;
    text-align: center;
    border: none;
    border-radius: 2px;
}

.month, .month::placeholder {
    color: var(--blue);
    
}

.month:focus, .month:hover {
    color: var(--blue);
    border: solid 1px var(--blue);
    box-shadow: 0 0 5px .25rem var(--blue);
}

.day, .day::placeholder {
    color: var(--darkGreen);
   
}

.day:focus, .day:hover {
    color: var(--green);
    border: solid 1px var(--darkGreen);
    box-shadow: 0 0 5px .25rem var(--darkGreen);
    
}

.year, .year::placeholder {
    color: var(--orange);
    
}

.year:focus, .year:hover {
    color: var(--orange);
    border: solid 1px var(--orange);
    box-shadow: 0 0 5px .25rem var(--orange);
    
}