.unicornModal {
    background: rgb(180,128,58);
    background: linear-gradient(13deg, rgba(180,128,58,1) 0%, rgba(253,238,29,0.5821353912353515) 38%, rgba(252,176,69,1) 100%); 
}
.modal-content {
    border: none;
    background-color: var(--lightGrey);
}
.btn-primary {
    background-color: var(--darkViolet);
    border: none;
    text-transform: uppercase;
    color: #ffffff;
}
.btn-primary:hover {
    background-color: var(--violet);
    color: var(--lightGrey);
    border: none;
    box-shadow: 0 0 5px .25rem var(--darkViolet);
}

.dateInput {
    height: 10vh;
    text-align: center;
    border: none;
    border-radius: 2px;
}

.month, .month::placeholder {
    color: var(--blue);
    background-color: var(--lightBlue);
}

.month:focus, .month:hover {
    color: var(--blue);
    border: solid 1px var(--blue);
    box-shadow: 0 0 5px .25rem var(--blue);
    background-color: var(--white);
}

.day, .day::placeholder {
    color: var(--darkGreen);
    background-color: var(--green); 
}

.day:focus, .day:hover {
    color: var(--green);
    border: solid 1px var(--green);
    box-shadow: 0 0 5px .25rem var(--green);
    background-color: var(--white);
}

.year, .year::placeholder {
    color: var(--orange);
    background-color: var(--lightOrange);
}

.year:focus, .year:hover {
    color: var(--orange);
    border: solid 1px var(--orange);
    box-shadow: 0 0 5px .25rem var(--orange);
    background-color: var(--white);
}