.custom-navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  transition: background-color 0.3s;
}

.navbar-blur {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.37) !important;
}

.icon-beer {
  width: 150px;
}
.text-graphite {
  font-weight: 700;
  color: var(--white) !important;
}

.nav-link {
  color: var(--white) !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  background-image: url("/src/assets/icons/Unicorn-beer-icon-3.svg");
}
