.uni-icon {
  width: 4vh;
  margin: 0 10px 0 0;
}
.auth-link {
  text-decoration: none;
}

.login-card {
  background-color: var(--white);
  color: var(--graphite);
}

.aside-bgc {
  background-color: var(--red);
}
