.addtocart-btn {
  color: var(--white);
  border: var(--white) 1px solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  font-family: "Roboto" !important;
}
