.footer {
  background-color: var(--graphite);
  padding: 20px;
}

.footerLinkContainer {
  display: none;
}

.footerLink {
  padding: 8px 0;
  font-size: 0.8rem;
}
@media (min-width: 576px) {
  .footerLinkContainer {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  .footerLinkContainer {
    flex-direction: row;
    margin-right: 30px;
  }
  .footerLink {
    font-size: 1rem;
    margin: 0 10px;
  }
}
