.footer {
  background-color: var(--graphite);
  padding: 20px;
}

.footerLinkContainer {
  display: flex;
  flex-direction: column;
}

.footerLink {
  font-size: 0.8rem;
}

@media (min-width: 720) {
  .footerLinkContainer {
    flex-direction: row;
  }
  .footerLink {
    font-size: 0.9rem;
  }
}
